@{
    ViewData["Title"] = "Email sent";
}

<div class="sidenav">
    @Html.Partial("_SideNavToggleBtn")
    <div id="side-nav-content">
    </div>
</div>
<div class="main">
    <h2>@ViewData["Title"]</h2>
    <p>
        Please check your email to reset your password.
    </p>
</div>
