@{
    ViewData["Title"] = "Email sent";
}

<div class="sidenav"></div>
<div class="main">
    <h2>@ViewData["Title"]</h2>
    <p>
        Please check your email to reset your password.
    </p>
</div>
