@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">This account has been locked out</p>

    <p><strong>Several reasons:</strong></p>  
    <ul>
        <li>- You haven't confirmed your e-mail yet</li>
        <li>- You have been banned by the website staff</li>
    </ul>
</header>