@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">This account has been locked out. Check, maybe you forgot to confirm your e-mail?</p>
</header>