@model IEnumerable<EShop.Models.EFModels.Product.Product>

<div id="add-modal-id" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="~/images/success.png" width="30" height="30"/> &nbsp; Success!

                <button id="modal-exit-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>A new item has been added to your Shopping Cart.</p>
            </div>
            <div class="modal-footer">
                <form asp-controller="ShoppingCart" asp-action="Index">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> View Shopping Cart
                    </button>
                </form>
                <br/>
                <button id="modal-continue-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Continue Shopping</button>
            </div>
        </div>
    </div>
</div>

<div id="limit-modal-id" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="~/images/critical-alert.png" width="30" height="30"/> &nbsp; Ooops!

                <button id="limit-modal-exit-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="div_change" class="modal-body">
                <p id="p_quantity">
                </p>
                <p id="p_special">
                    <strong id="p_strong">You have exceeded the number of items shopping cart can carry!</strong>
                    <ul>
                        <li>
                            - Remove some items and try again
                        </li>
                        <li>
                            - Checkout and add the items to an empty shopping cart
                        </li>
                    </ul>
                </p>
            </div>
            <div class="modal-footer">
                <form asp-controller="ShoppingCart" asp-action="Index">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Go to Shopping Cart
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="quantity-modal-id" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="~/images/critical-alert.png" width="30" height="30"/> &nbsp; Ooops!

                <button id="quantity-modal-exit-btn" type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#quantity-modal-id').fadeOut()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="div_change" class="modal-body">
                <p id="p_quantity">
                </p>
                <p id="p_special">
                    <strong id="p_strong">Quantity of product cannot be less than 1!</strong>
                </p>
            </div>
            <div class="modal-footer">
                <button id="quantity-modal-exit-btn2" type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#quantity-modal-id').fadeOut()">
                    <span class="glyphicon" aria-hidden="true"></span> I understand.
                </button>
            </div>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">

    $('#modal-exit-btn, #modal-continue-btn').click(function() {
        $('#add-modal-id').fadeOut();
    });

    $('#limit-modal-exit-btn').click(function() {
        $('#limit-modal-id').fadeOut();
    });

    @foreach (var item in Model.Select((value, index) => new {Value = value, Index = index}))
    {
        <text>
            $("#add-btn-@item.Index").click(function(e) {

                e.preventDefault(); // prevents page refreshing

                // Arguments we pass to controller's action method
                var productToCartPostModel = { // must match ~/Models/PostModels/ProductToCartPostModel.cs
                    ProductId: $('#hidden-id-@item.Index').val(),
                    Quantity: $('#quantity-id-@item.Index').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddProductToShoppingCart", "ShoppingCart")',
                    data: JSON.stringify(productToCartPostModel),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function(response) {
                        if (response === 0) {
                            $('#add-modal-id').fadeIn();
                        } else if (response === 1) {
                            //TODO: handle failure sent from controller (modify modal box)
                            //Change text
                            $('#quantity-modal-id').fadeIn();
                        } else if (response === 2) { // limit reached
                            $('#limit-modal-id').fadeIn();
                        }
                    },
                    failure: function() {
                        //TODO: handle AJAX request failure
                    }
                });
            });
        </text>
    }

    $("#add-btn").click(function(e) {

        e.preventDefault(); // prevents page refreshing

        // Arguments we pass to controller's action method
        var productToCartPostModel = { // must match ~/Models/PostModels/ProductToCartPostModel.cs
            ProductId: $('#hidden-id').val(),
            Quantity: $('#quantity-id').val()
        };

        $.ajax({
            type: 'POST',
            url: '@Url.Action("AddProductToShoppingCart", "ShoppingCart")',
            data: JSON.stringify(productToCartPostModel),
            dataType: 'json',
            contentType: "application/json",
            success: function(response) {
                if (response === 0) {
                    $('#add-modal-id').fadeIn();
                } else if (response === 1) {
                    //TODO: handle failure sent from controller (modify modal box)
                } else if (response === 2) { // limit reached
                    $('#limit-modal-id').fadeIn();
                }
            },
            failure: function() {
                //TODO: handle AJAX request failure                
            }
        });
    });
</script>