<br/>
<button id="toggle-btn" class="btn btn-xs btn-default">
    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
</button>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#toggle-btn").click(function() {
        if ($('#side-nav-content').is(":visible")) {
            $('#side-nav-content').hide();
        } else {
            $('#side-nav-content').show();
        }
    });
</script>