@model EShop.Models.ApplicationUser

@{
    ViewData["Title"] = "GiveAdminPrivileges";
}

<h2>Give admin privileges</h2>

<h3>Are you sure you want to give this user admin privileges?</h3>
<div>
    <form asp-action="GiveAdminPrivileges">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Give admin" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>