<div id="loading-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <p align="center">
            <img src="~/images/loading.gif" width="50" height="50"/>
        </p>
    </div>
</div>